:root {
  --primario: pink;
}

* {
  margin: 0px;
  padding: 0px;
}

#navbar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: rgb(187, 185, 185);
  left: -200px;
  transition: all 500ms linear;
  border-right: 3px solid black;
}

#navbar.active {
  left: 0px;
}

#navbar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 3px solid black;
  border-left-width: 100px;
  /*border-bottom: 3px solid rgba(100, 100, 100, .3);*/
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
  font-style: arial black;
  font-size: 20px;
}

#navbar ul li:hover {
  background-color: var(--primario);
}

#navbar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
  border-radius: 100%;
  background-color: pink;
}

#navbar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
}
/* desde aca comienza lo bonito */

.greeting_button {
  display: none;
  margin-left: 500px;
  margin-top: 500px;
  height: 50px;
  /*border-radius: 25%;*/
  width: 355px;
  color: white;
  background-color: rgba(225, 25, 71, 0.771);
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* mostrar el boton*/
.greeting_button_active {
  display: inline-block;
}
.saludo {
  display: none;
  margin-left: 500px;
  margin-top: 200px;
  color: black;
}
/* mostrar el mensaje*/
.saludo_active {
  display: inline-block;
}
/* formulario */
.formularioclass{
  display: none;
  margin-left: 500px;
  margin-top: 200px;
  color: black;
  border-style: solid;
  padding: 35px;
}
.formularioclass_active{
  display: inline-block;
}
/*input nombre*/
.inputnameclass{
  width: 48%;
  float:left;

}
/*input apellido*/
.inputapellidoclass{
  width: 48%;
  float:right;

}
/*input correo*/
.inputcorreoclass{
  width: 100%;
  margin-top: 10px;
}
/*boton guardar*/
.boton_guardar{
  float: right;
  margin-top: 10px;
  background-color: rgba(225, 25, 71, 0.771);
  width: 80px;
  height: 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
.div_1{
  position: absolute;
  left: 500px;
  top: 200px;
  width: 100px;
  height: 100px;

}
.div_1_active{
  display: inline-block;
}
.div_2{
  background-color: pink;
  width: 480px;
  height: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  text-align: left;
  color: white;
  padding: 5%;
}
.boton_eliminar_bienvenida{
  background-color: black;
  border-radius: 100%;
  padding: 1%;
  float: right;
  color: white;
}
.esconder_elemento{
  display: none;
}
